@import "tailwindcss";

@font-face {
    font-family: "inter";
    src: url('./assets/font/Inter.ttf');
}
@font-face {
    font-family: 'raleway';
    src: url('./assets/font/Raleway.ttf');
}

p{
    font-family: "inter";
}

::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  
  scrollbar-width: none;
}

@media (max-width: 931px){
    .middle h1{
        font-size: 10vw;
        top: 2em;
    }
}
@media (max-width: 768px){
    .middle{
        margin-top: 2.5em;
        position: relative;
    }

    .bottom{
        flex-direction: column;
        padding: 1em;
        align-items: flex-start;
        gap: 1em;
    }
    .bottom hr{
        rotate: 0deg;
        width: 100%;
    }
}